<h1>Welcome from rails!!</h1>


<h2><%= link_to 'My blog', articles_path %></h2>

<input type="text" id="field1" />
<input type="text" id="field2" />
<button id="add">Dodaj</button>
<p id="wynik">
</p>
